@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Basement Grotesque";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Basement Grotesque";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #0C0E0F;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 110.625rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header {
  position: fixed;
  top: 40px;
  width: 100%;
  z-index: 10;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  position: relative;
  z-index: 10;
}
.menu__body {
  position: fixed;
  right: -100%;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 600px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: right 0.5s ease 0s;
  background-color: #0c030f;
}
.menu-open .menu__body {
  right: 0;
}
.menu__btn {
  display: flex;
  align-items: center;
}
.menu__text {
  font-family: "Basement Grotesque";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  text-transform: uppercase;
  z-index: 50;
  margin-left: 5px;
}
.menu__list {
  padding-top: 150px;
  padding-left: 50px;
}
.menu__item {
  border-bottom: 1px solid #1F1F1F;
}
@media (min-width: 112.5em) {
  .menu__item {
    padding-top: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 112.5em) {
  .menu__item {
    padding-top: clamp( 0.625rem , 0.4898648649rem  +  0.6756756757vw , 1.25rem );
  }
}
@media (max-width: 20em) {
  .menu__item {
    padding-top: 0.625rem;
  }
}
@media (min-width: 112.5em) {
  .menu__item {
    padding-bottom: 0.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 112.5em) {
  .menu__item {
    padding-bottom: clamp( 0.625rem , 0.5574324324rem  +  0.3378378378vw , 0.9375rem );
  }
}
@media (max-width: 20em) {
  .menu__item {
    padding-bottom: 0.625rem;
  }
}
.menu__link {
  font-style: normal;
  font-weight: 800;
  line-height: 1.203125;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (min-width: 112.5em) {
  .menu__link {
    font-size: 4rem;
  }
}
@media (min-width: 20em) and (max-width: 112.5em) {
  .menu__link {
    font-size: clamp( 2rem , 1.5675675676rem  +  2.1621621622vw , 4rem );
  }
}
@media (max-width: 20em) {
  .menu__link {
    font-size: 2rem;
  }
}

.social__media {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  margin-left: 50px;
}
.social__link {
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #AAAAAA;
  margin-right: 25px;
}
.social__link:last-child {
  margin-right: 0px;
}

.scroll__wrap {
  position: sticky;
  bottom: 0;
  display: flex;
  overflow: hidden;
}
.scroll__holder {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 0;
  left: 100%;
  margin-left: 30px;
  overflow: hidden;
  white-space: nowrap;
  white-space: nowrap;
  width: fit-content;
  animation: marquee 10s linear infinite;
}
.rhombus {
  width: 12px;
  height: 12px;
  background-color: #0c030f;
  transform: rotate(45deg);
  margin: 0px 16px;
}

@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}
.icon-menu {
  display: none;
  display: block;
  position: relative;
  width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: 5;
}
.icon-menu span, .icon-menu::before, .icon-menu::after {
  content: "";
  transition: all 0.3s ease 0s;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
}
.icon-menu::before {
  top: 0px;
}
.icon-menu::after {
  bottom: 0px;
}
.icon-menu span {
  top: calc(50% - 1px);
}
.menu-open .icon-menu span {
  transform: scale(0);
}
.menu-open .icon-menu::before {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.menu-open .icon-menu::after {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.home__section {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
}

.work__collection {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.grid__gallery {
  position: absolute;
  left: 0;
  top: 0;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  transition: 1.4s ease-out;
}

.collection__item {
  position: relative;
  transition: 0.5s ease-in-out;
}
.collection__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.3s ease-out;
  opacity: 0;
}
.collection__item:hover {
  transform: scale3d(0.95, 0.95, 1);
  transform-style: preserve-3d;
}
.collection__item:hover:before {
  opacity: 0.8;
}
.collection__image {
  position: relative;
  display: flex;
  height: 100%;
}
.collection__text {
  position: relative;
  top: 50%;
  font-family: "Galgo";
  font-size: 82px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: center;
}

.colection__mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s ease-out;
  z-index: 10;
}
.colection__mask:hover {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

#preloader {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: #0f0f0f;
  flex-direction: column;
}

#percent {
  color: white;
  font-family: "Neutral Face";
}

#bar {
  width: 60%;
  margin-top: 20px;
}

#barconfrm {
  width: 1%;
  padding: 1px 0px;
  background-color: white;
}
